* {
    box-sizing: border-box;
  }

body {
    background: #fff0b3;
    min-width:20em;
}

#page {
    margin: 2em 1em 1em 2em;
}

h1 {
    letter-spacing: 0.2em;
    color: rgba(133,0,0,0.6);
  }

header {
    border: solid black;
    border-width: auto;
    max-width: 83em;
    max-height: 50em;
    min-width: 10em;
    min-height: 5em;  
    margin: 0.4em;
    padding: 0.7em;
    z-index: 1;
    outline-style: double;
    outline-color: yellowgreen;
    background: linear-gradient(to bottom, white, rgb(255, 204, 153));
}

nav {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    border: dotted black;
    font-family: arial;
 }

a:link {
    color: darkblue;
  }
  
a:visited {
    color: darkslategray;
  }
  
a:hover {
    color: black;
    cursor:grab;
  }
  
a:active {
    color: gray;
  } 

#content {
    float:left;
    width:45em;
    border: solid black;
    min-width: 10em;
    height: 60em;
    margin-right: 1em;
    z-index: 2;
    font: 15px arial, sans-serif;
    background: white;
    margin-bottom: 1em;
}

article{
    border: dotted black;
    padding: 1em;
    margin: 1em;
}

#profilfigur {
    position: relative;
    float: right;
    top: -3.5em;
}

#profil {
    width: 10em;
    height: 14em;
    clip-path: circle(41%);
    
}

#ommig{
    padding-bottom: 4em;
}


#hittarunt{
    clear: both;
    margin: 1em;
}

#uppåtpil {
    vertical-align: text-top; 
    width: 1em; 
    height: 1em;
}

#progressivjpg{
    vertical-align: text-bottom; 
    width: 26em; 
    height: 20em;
}

aside {
    float: left;
    width:31em;
    height: 56em;
    padding: 0.5em;
    border: solid black;
    z-index: 3;
    font: 1em arial, sans-serif;
    background: white;
    margin-bottom: 1em;
}

input:focus {
    background-color: lightgray;
  }


 footer {
    clear: both;
    height: 4em;
    width: auto;
    border-color: black;
    border-style: solid;
    z-index: 4;
    font: 15px arial;
    background: rgb(255, 204, 153)
}

#telnummer{
    visibility: collapse;
}

#meddelanderuta {
    resize: none;
    overflow: scroll;
    border: 2px solid lightsalmon;
}

input[type='text'] { 
    background-image: url('person.png');
    background-repeat: no-repeat; 
    background-position: top -0.3em left -0.3em;
    background-size: 2em;
    text-indent:2.5em;
}

input[type='email'] { 
    background-image: url('at.png');
    background-repeat: no-repeat; 
    background-position: top -0.3em left -0.3em;
    background-size: 2em;
    text-indent:2.5em;
}

input { 
    border: 2px solid lightsalmon;
}

select { 
    border: 2px solid lightsalmon;
}

@media print {
    header, #content, body, aside, footer {
        background: transparent;
    }
    img {
    filter: grayscale(100%);
    }
    h1 {
        color: black;
    }