body {
    background: #fff0b3;
}

#page {
    margin: 2em 1em 1em 2em
}

h1 {
    letter-spacing: 0.2em;
    color: rgba(133,0,0,0.6);
  }

header {
   position: top-left;
   border: solid black;
   border-width: auto;
   max-width: 83em;
   max-height: 50em;
   min-width: 10em;
   min-height: 5em;  
   margin: 0.1em;
   padding: 0.7em;
   z-index: 1;
   outline-style: double;
   outline-color: yellowgreen;
   background: linear-gradient(to bottom, white, rgb(255, 204, 153));
}

nav {

    border: dotted black;
    font-family: arial;
 }

 a:link {
    color: darkblue;
  }
  
a:visited {
    color: darkslategray;
  }
  
a:hover {
    color: black;
    cursor:grab;
  }
  
a:active {
    color: gray;
  } 

#content {
    position: left;
    float: left;
    height: 70em;
    width: 40em;
    border-style: solid;
    margin: 0.5em;
    padding: 0.7em;
    z-index: 2;
    font: 15px arial, sans-serif;
    background: white;
}

article {
    border: dotted black;
    padding: 0.7em;
    margin: 0.5em;
}

#programtext {
    width: 20em;
}

#sulogga{
    float:right;
    width:15em;

}

#jobbtext{
    clear: both;
}

#djurrättstext{
    width: 20em;
    padding-right: 2em;
    padding-bottom: 13em;
}

#nonugget{
    float: right;
    width:15em;
    margin: 0px 0px 0px 0px;
}

aside {
    position: right;
    float: right;
    width: 37em;
    height: 70em;
    border: solid black;
    padding: 0.7em;
    margin: 0.5em;
    z-index: 3;
    font: 15px arial, sans-serif;
    background: white;
}

dd {
    display:list-item;
    list-style-type: disc;
}

 footer {
    display: table;
    clear: both;
    width: 75em;
    position: bottom;
    border-color: black;
    border-style: solid;
    padding: 0.7em;
    margin: 0.5em;
    z-index: 4;
    font-family: arial;
    background: rgb(255, 204, 153)
}
