body {
    background: #fff0b3;
}


#page {
    margin: 2em 1em 1em 2em
}

h1 {
    letter-spacing: 0.2em;
    color: rgba(133,0,0,0.6);
  }

header {
   position: top-left;
   border: solid black;
   border-width: auto;
   max-width: 83em;
   max-height: 50em;
   min-width: 10em;
   min-height: 5em;  
   margin: 0.1em;
   padding: 0.7em;
   z-index: 1;
   outline-style: double;
   outline-color: yellowgreen;
   background: linear-gradient(to bottom, white, rgb(255, 204, 153)); 
}

nav {

    border: dotted black;
    font-family: arial;
 }

a:link {
    color: darkblue;
  }
  
a:visited {
    color: darkslategray;
  }
  
a:hover {
    color: black;
    cursor:grab;
  }
  
a:active {
    color: gray;
  } 

#content {
    position: left;
    float: left;
    height: 55em;
    width: 36em;
    border-style: solid;
    margin: 0.5em;
    padding: 0.7em;
    z-index: 2;
    font: 15px arial, sans-serif;
    background: white;
}

article{
    border: dotted black;
    padding: 0.7em;
    margin: 0.5em;
    float: left;
}

#ommigtext{
    width: 15em;
    float:left;
    margin: 1em;
}


#profilbild {
    position: relative;
    top: -2em; 
    width: 10em;
    height: 14em;
    clip-path: circle(75px at 75px 80px);
   
    float: right;
}

#hittarunt{
    clear: both;
    margin: 1em;
}

#uppåtpil {
    vertical-align: text-top; 
    width: 1em; 
    height: 1em;
}

#progressivjpg{
    vertical-align: text-bottom; 
    width: 26em; 
    height: 20em;
}

aside {
    position: right;
    float:right;
    width: 40em;
    height: 55em;
    border: solid black;
    padding: 0.7em;
    margin: 0.5em;
    z-index: 3;
    font: 15px arial, sans-serif;
    background: white;
}

input:focus {
    background-color: lightgray;
  }


 footer {
    display: table;
    clear: both;
    width: 80em;
    position: bottom;
    border-color: black;
    border-style: solid;
    padding: 0.7em;
    margin: 0.5em;
    z-index: 4;
    font: 15px arial;
    background: rgb(255, 204, 153)
}

#telnummer{
    visibility: collapse;
}

#meddelanderuta {
    overflow: scroll;
}

input[type='email'] { 
background-image: url('../img/search.png'); email.png;
background-position: 9px 20px;
background-repeat: no-repeat;
text-align: center;
}